.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba(0,0,0, 0.8),
        rgba(0,0,0, 0.8)),
    url(../extras/bg-header.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > * {
        transform: skewY(7deg);
    }

}
